/* Teste */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Arial', 'Times New Roman', Times, serif;
    background: #fff9de;
    line-height: 1.6; 
}

/* header---------------------------------------- */
header{
    background: #801f74;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    animation: fadein 2s ease forwards;
}
header h1{
    font-family: 'eb garamond';
    font-size: 40px;
    margin-bottom: 0.5rem;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    font-family: 'inter';
    text-decoration: none;
    color: bisque;
    transition: transform 0.4s ease, color 0.4s ease;
}
nav ul li a:hover{
    transform: scale(1.05);
    color: rgb(206, 153, 84);
    text-decoration: underline;
    /* cursor: pointer; */
}
section{
    padding: 2rem;
    margin: 1.5rem;
    background: radial-gradient(#fff1df, #fff);
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h2{
    transition: transform 0.4s ease, color 0.5s;
    text-align: center;
    width: fit-content;
}
.container h2:hover{
    transform: scale(1.15);
    color: rgb(206, 153, 84);
}
/* h2{
    margin-bottom: 1rem;
} */

/* sobre mim---------------------------------- */
.sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.sobre-mim h2{
    font-family: 'eb garamond';
    font-size: 35px;
    transition: transform 0.4s ease, color 0.5s;
}
.sobre-mim h2:hover{
    transform: scale(1.15);
    color: rgb(206, 153, 84);
}
.sobre-mim p {
    font-family: 'inter';
    text-align: center;
}
.foto-perfil{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px double rgb(206, 153, 84);
}


/* projetos--------------------------------- */
.projs{
    display: flex;
    gap: 1rem;
}
.container h2{
    font-family: 'eb garamond';
    font-size: 30px;
}
.proj1, .proj2{
    background: #f8f8f8;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease-in-out, transform 0.3s ease-in-out;
}
.proj1 p, .proj2 p{
    font-family: 'inter';
}
.proj1:hover{
    background: #ffe0de;
    transform: scale(1.05);
}
.proj2:hover{
    background: #b41d12;
    transform: scale(1.05);
}
.proj h3{
    font-family: 'eb garamond';
    transition: color 0.4s;
}
.proj h3:hover{
    color: rgb(206, 153, 84);
}
.proj p{
    font-family: 'inter';
}
.foto-proj{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* formacao--------------------------------- */
.formacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.form{
    background: #f8f8f8;
    /* background: #f6f5f5; */
    border-radius: 8px;
    padding: 1rem;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease-in-out, transform 0.3s ease-in-out, color 0.3s;
}
.form:hover{
    color: rgb(206, 153, 84);
    background: #801f74;
    transform: scale(1.05);
}
.f{
    font-family: 'eb garamond';
    font-size: 20px;
    font-weight: 700;
}
.form .s{
    font-family: 'inter';
}


/* skills------------------------------------ */
.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.hab{
    background: #f8f8f8;
    border-radius: 8px;
    padding: 1rem;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease-in-out, transform 0.3s ease-in-out, color 0.3s;
}
.hab:hover{
    color: rgb(206, 153, 84);
    background: #801f74;
    transform: scale(1.05);
}
.f{
    font-family: 'eb garamond';
    font-size: 20px;
    font-weight: 700;
}
.hab .s{
    font-family: 'inter';
}
.hab i{
    font-size: 30px;
    transition: color 0.5s;
}
.hab i:hover{
    color: #801f74;
}


/* contato------------------------------------- */
a .github{
    width: 100px;
    height: 100px;
}
.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.cont{
    background: #f8f8f8;
    border-radius: 8px;
    padding: 1rem;
    width: 80%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.cont:hover{
    transform: scale(1.05);
}
.cont .s{
    font-family: 'inter';
}
.cont h3{
    font-family: 'eb garamond';
    transition: color 0.5s;
}
.cont h3:hover{
    color: #801f74;
}

@keyframes fadein{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#sobre, #formacao, #projetos, #skills, #contato{
    animation: fadein 2s ease forwards;
}